@import '../../../../assets/colors';

.castle-background {
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background: radial-gradient(#ffffff 0%, $emerald-200 50%, $emerald-300 51%, $emerald-500 100%); /* FF3.6+ */
  border-radius: 2rem;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  img {
    height: 30px;
    width: 30px;
  }
  .castle-background {
    height: 30px;
    width: 30px;
  }
}
