<div class="container">
  <div class="inner-container">

    <ng-container *ngIf="userService.passwordSuccess">
      <div class="error">
        {{userService.passwordSuccess}}
      </div>
    </ng-container>

    <ng-container *ngIf="!userService.passwordSuccess">
      <ng-container *ngIf="!token">

        <p>Forgot your password? Enter your e-mail for reset:</p>

        <table>
          <tr>
            <td>
              <label for="email">E-mail: </label>
            </td>
            <td>
              <input id="email" type="text" #email/>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <div class="error" *ngIf="userService.passwordError">
                <p>{{userService.passwordError}}</p>
              </div>
              <button type="button" class="btn-hover-effect"
                      (click)="reset(email.value)">
                Reset password
              </button>
            </td>
          </tr>
        </table>

      </ng-container>

      <ng-container *ngIf="token">
        <p>Set your new password:</p>

        <table>
          <tr>
            <td>
              <label for="pwd1">Password: </label>
            </td>
            <td>
              <input id="pwd1" type="password" #pwd1/>
            </td>
          </tr>
          <tr>
            <td>
              <label for="pwd2">Password again: </label>
            </td>
            <td>
              <input id="pwd2" type="password" #pwd2/>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <div class="error" *ngIf="userService.passwordError">
                <p>{{userService.passwordError}}</p>
              </div>
              <button type="button" class="btn-hover-effect"
                      (click)="newPassword(pwd1.value,pwd2.value)">
                Reset password
              </button>
            </td>
          </tr>
        </table>

      </ng-container>
    </ng-container>

  </div>
</div>
