@import "../../../../assets/colors";

h3 {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.kingdom-stats-container {
  border: 3px solid $neutral-600;
  border-radius: 25px;
  padding: 5%;
}

.title-ruler {
  color: $emerald-600;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  color: $neutral-800;
}

.countdown-container {
  border: 3px solid $neutral-600;
  border-radius: 25px;
  padding: 5%;
}
