@import '../../../../assets/colors';
h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  background-color: black;
}

.troop-type-item {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 40px;
  transition: transform .2s;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  justify-content: center;

  .text-around {
    margin-top: 10px;
  }

}

.troop-type-item:hover {
  //color: white;
  transform: scale(1.5);
  //background-color: #42545C;
}

